body { 
    color: #DDD; 
    background-color: #002; 
    font-size: 32px; 
    padding-top: 20px; 
} 

img { 
    height: 5rem; 
}

#title { 
    font-size: 64px; 
    text-align: center; 
}

#main { 
    font-size: 16px; 
    text-align: left;   
}

#main div { 
    text-align: center; 
}

#streamers { 
    padding: 5rem; 
} 

#streamers div { 
    padding: 1px; 
    margin-bottom: .5rem; 
} 

#input {
    color: #000; 
    text-align: left; 
} 

#inputButton { 
    color: #000; 
    text-align: left; 
}

.streamerOnline { 
    background-color: #0A0; 
    color: #FFF; 
}

.streamerOffline { 
    background-color: #A00; 
    color: #FFF; 
}