body { 
    color: #DDD; 
    background-color: #002; 
    font-size: 32px; 
    padding-top: 20px; 
} 

footer { 
     color: #DDD; 
     text-align: center; 
     padding-top: 1rem; 

} 

img { 
    height: 5rem; 
} 

#title { 
    font-size: 64px; 
    text-align: center; 
} 

#main { 
    font-size: 16px; 
    text-align: left;   
} 

#main div { 
    text-align: center; 
} 

#streamers { 
    padding: 5rem; 
} 

#streamers div { 
    padding: 1px; 
    margin-bottom: .5rem; 
} 

#streamers link { 
    background-color: #FFF; 
} 

#input {
    color: #000; 
    text-align: left; 
} 

#onlineButton { 
    color: #FFF; 
} 

#offlineButton { 
    color: #FFF;  
} 

#allButton { 
    color: #FFF; 
} 

.streamerOnline { 
    background-color: #0A0; 
    color: #FFF; 
} 

.streamerOffline { 
    background-color: #A00; 
    color: #FFF; 
} 

.streamerRemoved {
    background-color: #DDD; 
    color: #000; 
 }